baby-color = rgba(206, 255, 204, 0.45)
child-color = rgba(63, 252, 53, .45)
adult-color = rgba(38, 161, 31, 0.45)
death-color = rgba(120, 161, 31, 0.45)

.animal
  background-defaults()
  height 50px
  width 50px

  &.goat
    background url('assets/animals/goat.gif')
