baby-color = rgba(206, 255, 204, 0.45)
child-color = rgba(63, 252, 53, .45)
adult-color = rgba(38, 161, 31, 0.45)
death-color = rgba(120, 161, 31, 0.45)

.crop
  background-defaults()
  height 50px
  width 50px

  &.life-stage-baby
    border 3px solid lightblue
  &.life-stage-child
    border 3px solid lightgreen
  &.life-stage-adult
    border 3px solid green
  &.life-stage-death
    border 3px solid red

  &.grassCrop
    background-image url('assets/crops/grass.gif')

  &.turnipCrop
    background url('assets/crops/turnip.png')

  &.pumpkinCrop
    background-image url('assets/crops/pumpkin.png')

  &.tomatoCrop
    background url('assets/crops/tomato.png')

  &.carrotCrop
    background url('assets/crops/carrot.png')

  &.parsnipCrop
    background url('assets/crops/parsnip.png')

  &.soybeanCrop
    background url('assets/crops/soybean.png')
    background-size 50px
