@require 'mixins/helpers.styl'

.day-end
  background-color black
  display none
  overlay()

  .previous-day, .next-day
    color white
    font-size 3rem
    font-weight bold
    position absolute
    text-align center
    top 50%
    transform translateY(-50%)
    transition opacity 2s
    width 100%

  .next-day
    opacity 0
