@require 'mixins/helpers.styl'
@require 'mixins/zindices.styl'

.game .farm
  background-image url('assets/tiles/grass.png')
  overlay()

  .pen
    box-sizing border-box
    display none
    margin-bottom 15px
    overflow-x auto
    overlay()
    padding 70px 10px
    white-space nowrap
    z-index $main-zindex

    .animal
      box-sizing border-box
      display inline-block
      height 80px
      margin-right 10px
      width 160px

  .field
    align-items center
    box-sizing border-box
    display flex
    overflow auto
    overlay()
    z-index $main-zindex

    .scrollable
      margin auto
      padding 50px

    .tiles
      display table

      .row
        display table-row
        height 50px

        .tile
          background-defaults()
          background-image url('assets/tiles/dirt.png')
          border 1px solid black
          display table-cell
          min-height 50px
          min-width 50px

  .tile-menu
    overlay()
    visibility hidden
    z-index $popup-zindex

    .background
      background-color alpha(black, .7)
      overlay()

    .menu-container
      background-color black
      color white
      overflow auto
      padding 15px
      position absolute
      width 200px
      max-height 300px

      .menu
        .stats
          margin-bottom 5px

          .stat
            display inline-block
            padding-right 5px

        .harvests
          margin-bottom 5px

        .label
          border-top 1px solid white
          border-left 1px solid white
          padding-left 10px

        .plant, .fertilizer
          box-sizing border-box
          margin-bottom 5px
          width 100%
