.hud
  height 100%

  .left, .center, .right
    align-items center
    display flex
    height 100%
    position absolute
    width 100%

  .left .money
    margin-left 10px

  .center
    justify-content center

  .right
    justify-content flex-end

    .btn
      margin-left 5px
