@require 'mixins/helpers.styl'
@require 'mixins/zindices.styl'

.hud
  .status
    position absolute
    top 10px
    left 10px
    z-index $hud-zindex

    .money
      align-items center
      display flex
      font-size 1.3rem

      .icon
        background-defaults()
        background-image url('assets/icons/coin.png')
        display inline-block
        height 20px
        width 20px
        margin-right 5px

  a.btn.main-btn
    background-defaults()
    position absolute
    height 70px
    width 70px
    z-index $hud-zindex

    &.field-icon, &.pen-icon
      bottom 10px
      left 10px

    &.field-icon
      background-image url('assets/icons/field.png')
      display none

    &.pen-icon
      height 65px
      width 65px
      background-image url('assets/icons/pen.png')

    &.market-icon
      bottom 10px
      left calc(50% - 35px)
      background-image url('assets/icons/market.png')

    &.inventory-icon
      bottom 10px
      right 10px
      background-image url('assets/icons/inventory.png')

    &.settings-icon, &.close-icon
      top 10px
      right 10px
      height 50px
      width 50px

    &.settings-icon
      background-image url('assets/icons/settings.png')

  .settings
    background-color alpha(black, .7)
    color white
    display none
    overlay()
    z-index $settings-zindex

    .close-icon
      background-image url('assets/icons/close.png')
      z-index 1

    .playback-info
      position absolute
      top 10px
      left 10px

    .buttons
      align-items center
      display flex
      flex-direction column
      font-size 1.5rem
      justify-content center
      overlay()

