.hud
  height 100%

  .left, .center, .right
    align-items center
    display flex
    height 100%
    position absolute
    width 100%

  .center
    justify-content center

  .right
    justify-content flex-end
