@require 'mixins/helpers.styl'
@require 'mixins/zindices.styl'

.game .inventory
  background-color alpha(black, .7)
  box-sizing border-box
  display none
  padding 70px 20px 100px
  overlay()
  z-index $menu-zindex

  .container
    background-color black
    border-radius 10px
    color white
    box-sizing border-box
    overflow auto
    width 100%
    height 100%
    padding 10px

    h1
      text-align center
      margin 0
      margin-bottom 10px
      height 50px

    .items
      .item
        padding 5px
        margin-bottom 10px

  .triangle
    width 0
    height 0
    border-left 20px solid transparent
    border-right 20px solid transparent
    border-top 20px solid black
    bottom 85px
    right 27px
    position absolute

  a.btn.inventory-icon
    background-defaults()
    background-image url('assets/icons/inventory-white.png')
    position absolute
    bottom 10px
    right 10px
    width 70px
    height 70px
