.game .inventory
  border 1px solid black
  box-sizing border-box
  display none
  flex-shrink 0
  height 100%
  overflow auto
  padding 10px
  width 200px

  .item
    border 1px solid black
    height 50px
    margin-bottom 10px
