.market
  background-color white
  display none
  left 0
  height 100%
  position fixed
  top 0
  width 100%
  z-index 100

  h1
    text-align center
    height 50px
    margin 0

  .listings
    box-sizing border-box
    height calc(100% - 50px)
    padding 10px

    .container
      box-sizing border-box
      float left
      padding 5px
      position relative
      width 50%

      h2
        width 50%

      .buy, .sell
        border 1px solid black
        overflow auto
        width 100%

        th
          text-align left

      .buy
        margin-right 5px

      .sell
        margin-left 5px

  .close
    position absolute
    right 10px
    top 10px
