@require 'mixins/helpers.styl'
@require 'mixins/zindices.styl'

.market
  background-color alpha(black, .7)
  color white
  display none
  overlay()
  z-index $menu-zindex
  padding 70px 20px 100px

  .market-container
    background-color black
    border-radius 10px
    box-sizing border-box
    height 100%
    width 100%
    overflow auto
    padding 10px

    h1
      text-align center
      height 50px
      margin 0

    .listings
      box-sizing border-box

      .container
        box-sizing border-box

        h2
          width 50%

        .buy, .sell
          color white
          overflow auto
          width 100%

          th
            text-align left
            border-bottom 1px solid white

          td
            text-overflow ellipsis

  .triangle
    width 0
    height 0
    border-left 20px solid transparent
    border-right 20px solid transparent
    border-top 20px solid black
    bottom 85px
    left calc(50% - 20px)
    position absolute

  a.btn.market-icon
    background-defaults()
    background-image url('assets/icons/market-white.png')
    position absolute
    bottom 10px
    right calc(50% - 35px)
    width 70px
    height 70px
