head
  title Farm
  link(href='https://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css')
  link(rel='stylesheet' href='app.css')
  meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no")
body
  .header
    include ./views/hud.jade
  .game
    include ./views/farm.jade
    include ./views/inventory.jade
    include ./views/market.jade
    include ./views/day-end.jade
  script(src='app.js')
