head
  title Farm
  link(rel='stylesheet' href='app.css')
body
  .header
    include ./views/hud.jade
  .game
    include ./views/farm.jade
    include ./views/inventory.jade
    include ./views/market.jade
    include ./views/day-end.jade
  script(src='app.js')
