.hud(id='Hud')
  .left
    .status
  .center
    .title Welcome
  .right
    .playback-info

  .market
    h1 Market
    .market-status
    .listings
      .container
        h2 Buy
        table.buy
      .container
        h2 Sell
        table.sell
    .btn.close x
