.hud(id='Hud')
  .status
  a.btn.main-btn.settings-icon
  a.btn.main-btn.field-icon
  a.btn.main-btn.pen-icon
  a.btn.main-btn.market-icon
  a.btn.main-btn.inventory-icon
  .settings
    a.btn.main-btn.close-icon
    .playback-info
    .buttons
