.hud(id='Hud')
  .status
  .btn.main-btn.settings-icon
  .btn.main-btn.field-icon
    .pen-icon.other
  .btn.main-btn.pen-icon
    .field-icon.other
  .btn.main-btn.market-icon
  .btn.main-btn.inventory-icon
  .settings
    .btn.main-btn.close-icon
    .playback-info
    .buttons
