.market(id='Market')
  .market-container
    h1 Market
    .market-status
    .listings
      .container
        h2 Buy
        table.buy
      .container
        h2 Sell
        table.sell
  .triangle
  a.btn.market-icon
